body {
     font-family: Source Sans Pro, sans-serif;
     font-size: 1rem;
     counter-reset: my-sec-counter;
     /*background-color: #f7f7f7;*/
 }

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

 .bg-light {
     background-color: #f5f5f5 !important;
 }
 
 #post h1 {
  font-family: 'PT Serif', serif;
 }

/*.navbar>a.text-success:focus, a.text-success:hover {*/
/*    color: #fff!important;*/
    /*background-color: #38c172;*/
/*}*/

.register-link {
    border: 1px solid;
    /*background-color: #fff;*/
    border-color: #38c172;
    border-radius: 0.3rem;
}

.register-link:hover {
    border-color: #fff;
    border-radius: 0.3rem;
}

/*.media > h2::before {*/
  /* Increment "my-sec-counter" by 1 */
/*  counter-increment: my-sec-counter;*/
/*  content: "0" counter(my-sec-counter);*/
/*}*/

.media a {
 text-decoration: none;
}

.btn-link.focus, .btn-link:focus, .btn-link:hover {
  text-decoration: none;
}

/*.post-index {*/
/*    font-weight: 600;*/
/*}*/
.post-index  a {
    color: #212529;
}

div#posts h4 {
    font-family: 'PT Serif', serif;
}

.post-index a:hover {
    color: #6c757d!important;
    text-decoration: none;
}

.reply-icons {
    display: inline-block;
}

[v-cloak] {
    display: none;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.g-recaptcha {
    transform:scale(.82);
    -webkit-transform:scale(0.82);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}